
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* $text-color: #7d84ab;
$secondary-text-color: #dee2ec;

$bg-color: #0c1e35;
$secondary-bg-color: #0b1a2c;

$border-color: rgba(#535d7d, 0.3); */
.text{
  color:#7d84ab;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.menu-title {
  color:#f3f3f3;
}
  
  .menu-item {
    color:#f8f8f8; /* light blue with a bit of gray */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
  }
  
  .menu-submenu {
    color: #86c5da; /* light blue */
  }
  
  .header {
    color: #1ebbd7; /* light blue */
  }
  