@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


.sidebar {
  width: 300px;
  height: 100%;
  /* background-color: #4b7fce7f; */
  position: fixed;
  left: 0;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.sidebarList {
  list-style: none;
  padding: 20px 0;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  gap: 10px;  /* adjust as needed */
  padding: 20px;
  color: black;
  text-align: left;
  
}

.sidebarListItem a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.sidebarListItem:hover {
  background-color: #4b7fce7f;
  cursor: pointer;
}

.icon{
  display: flex;
  gap: 20px;  /* adjust as needed */
}
.text_sidebar{
font-size: 20px;
font-family: 'Roboto', sans-serif;
font-weight: 500;
}

.active_link {
  background-color: #4b7fce7f;
}
