@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

$accent-color: #3C3718;
$secondary-color: #E6F7D1;
$main-color: #294e8a;

.admin_login_body {
  background: $secondary-color;
  margin: 0;
}

.font_login {
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 3px;
}

.container_login {
  display: flex;
  justify-content: center;
}

.form_login {
  // display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: $main-color;
  margin-top: 200px;
  margin: 20px 50px;
  padding: 30px;
  width: 520px;
  height: 580px;
  box-shadow: 0px 5px 15px 2px $main-color;
}

// h1 {
//   color: $accent-color;
//   margin: 30px 0 50px 0;
// }

@mixin default-view {
  padding: 0 15px;
  width: -webkit-fill-available;
  margin: 15px;
  height: 35px;
  border-radius: 20px;
  font-weight: bold;
}

.input_login {
  @include default-view;
  background: $secondary-color;
  border: 10px solid $secondary-color;
  outline: none;
  color: $accent-color;
  transition: all 500ms ease-out;
  
  &:focus {
    border: 10px solid $accent-color;
    font-size: 1.2em;
  }
}

.button_login {
  @include default-view;
  background: $accent-color;
  margin: 40px 15px 20px 15px;
  color: $secondary-color;
  transition: all 500ms ease-out;
  animation: lights 4000ms infinite ease-in;
  border: 0;
  
  &:hover {
    border: 1px solid $secondary-color;
    box-shadow: 0px 0px 10px 2px $secondary-color;
    animation: none;
  }
}

@keyframes lights {
  0% {
    box-shadow: 0px 0px 5px 2px $secondary-color;
  } 
  50% {
    box-shadow: 0px 0px 5px 2px $accent-color;
  }
  70% {
    box-shadow: 0px 0px 5px 2px #64896A;
  }
  100% {
    box-shadow: 0px 0px 5px 2px $secondary-color;
  }
}

// a {
//   color: $secondary-color;
//   text-decoration: none;
//   font-size: 10px;
//   font-weight: bolder;
//   opacity: 0.6;
//   transition: all 300ms ease-in-out;
  
//   &:hover {
//     opacity: 0.9;
//   }
// }